{% extends 'base.html.twig' %}

{% block title %}Looha - A propos{% endblock %}

{% block body %}
    <div class="col-lg-6 col-sm-12">
        <h3>Qui sommes-nous ?</h3>
        <p>Nam architecto soluta et ex. Culpa dolor nulla fuga natus beatae vitae culpa. Deleniti nulla sint sapiente officia non. Aliquam excepturi et harum nihil quibusdam. Architecto magni non ducimus.

            Sit officiis deleniti totam vitae minus. Vitae at commodi et ipsa qui ipsam velit facilis.
            Dolore modi quam et velit. Incidunt repellat doloremque excepturi dicta eius.
        </p>

        <img src="{{ asset('assets/img/logo.png') }}" class="img-fluid" width="300px" alt="">
    </div>

    <div class="col-lg-6 col-sm-12">
        <p>Nam architecto soluta et ex. Culpa dolor nulla fuga natus beatae vitae culpa. Deleniti nulla sint sapiente officia non. Aliquam excepturi et harum nihil quibusdam. Architecto magni non ducimus.

            Sit officiis deleniti totam vitae minus. Vitae at commodi et ipsa qui ipsam velit facilis.
            Dolore modi quam et velit. Incidunt repellat doloremque excepturi dicta eius.
        </p><p>Nam architecto soluta et ex. Culpa dolor nulla fuga natus beatae vitae culpa. Deleniti nulla sint sapiente officia non. Aliquam excepturi et harum nihil quibusdam. Architecto magni non ducimus.

            Sit officiis deleniti totam vitae minus. Vitae at commodi et ipsa qui ipsam velit facilis.
            Dolore modi quam et velit. Incidunt repellat doloremque excepturi dicta eius.
        </p>
        <p>Nam architecto soluta et ex. Culpa dolor nulla fuga natus beatae vitae culpa. Deleniti nulla sint sapiente officia non. Aliquam excepturi et harum nihil quibusdam. Architecto magni non ducimus.

            Sit officiis deleniti totam vitae minus. Vitae at commodi et ipsa qui ipsam velit facilis.
            Dolore modi quam et velit. Incidunt repellat doloremque excepturi dicta eius.
        </p>
    </div>
{% endblock %}
