{% extends 'base.html.twig' %}

{% block title %}Looha - A propos{% endblock %}
{% block hero %}{% endblock %}
{% block body %}
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-6 col-12">
                <h3>Qui sommes-nous ?</h3>
                <p>Nous sommes une petite agence de communication spécialisée dans la création de sites internet et de supports de communication.</p>
                <p>Nous mettons tout notre savoir et notre passion sur chaque projet et nous nous efforçons de nous perfectionner dans nos domaines.</p>
                <p>Notre objectif est de vous offrir un produit de qualité à un prix abordable.</p>
                <p>Nous sommes basés à Cahors, mais nous pouvons travailler à distance.</p>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('assets/img/green.jpg') }}" class="img-fluid" alt="ecran oridnateur portable et feuille dans un verre d'eau">
            </div>

        </div>


        <div class="col-12 mt-5">
            <p>
                Nous faisons en sorte de développer des produits les plus vert possible, consommer le moins de ressources possible et respecter la planète, nous ne travaillons pas avec de CMS et ainsi nous optimisons :
            </p>
            <p> <strong>
                -Les performances
                <br>
                -Les contenus
                <br>
                -Le code
                <br>
                -La sécurité
                <br>
                -Les medias</p>
            </strong>
            <p>
                Dans une démarche positive et durable, nous avons décidé de nous engager dans une démarche de développement durable.
            </p>
        </div>
        <div class="col-12">
            <p>
                Aussi nous mettons un point d'honneur sur la securité de nos sites, nous utilisons des outils de securité et nous mettons en place des mises à jour régulières.
            </p>
            <p>Nous restons joignables via le formulaire de contact <a href="https://looha.io/contact">ici</a> ou par mail
                <a href="mailto:contact@looha.io">contact@looha.io</a>
                pour toute demande d'informations ou de devis.</p>


        </div>
    </div>

{% endblock %}
