{% extends 'base.html.twig' %}

{% block title %}Looha - A propos{% endblock %}
{% block hero %}{% endblock %}
{% block body %}
    <div class="container mx-auto">
        <div class="col-12">
            <h3>Qui sommes-nous ?</h3>
            <p>Nam architecto soluta et ex. Culpa dolor nulla fuga natus beatae vitae culpa. Deleniti nulla sint sapiente officia non. Aliquam excepturi et harum nihil quibusdam. Architecto magni non ducimus.

                Sit officiis deleniti totam vitae minus. Vitae at commodi et ipsa qui ipsam velit facilis.
                Dolore modi quam et velit. Incidunt repellat doloremque excepturi dicta eius.
            </p>

        </div>

        <div class="col-12">
            <p>Nam architecto soluta et ex. Culpa dolor nulla fuga natus beatae vitae culpa. Deleniti nulla sint sapiente officia non. Aliquam excepturi et harum nihil quibusdam. Architecto magni non ducimus.

                Sit officiis deleniti totam vitae minus. Vitae at commodi et ipsa qui ipsam velit facilis.
                Dolore modi quam et velit. Incidunt repellat doloremque excepturi dicta eius.
            </p><p>Nam architecto soluta et ex. Culpa dolor nulla fuga natus beatae vitae culpa. Deleniti nulla sint sapiente officia non. Aliquam excepturi et harum nihil quibusdam. Architecto magni non ducimus.

                Sit officiis deleniti totam vitae minus. Vitae at commodi et ipsa qui ipsam velit facilis.
                Dolore modi quam et velit. Incidunt repellat doloremque excepturi dicta eius.
            </p>
            <p>Nam architecto soluta et ex. Culpa dolor nulla fuga natus beatae vitae culpa. Deleniti nulla sint sapiente officia non. Aliquam excepturi et harum nihil quibusdam. Architecto magni non ducimus.

                Sit officiis deleniti totam vitae minus. Vitae at commodi et ipsa qui ipsam velit facilis.
                Dolore modi quam et velit. Incidunt repellat doloremque excepturi dicta eius.
            </p>
        </div>
    </div>

{% endblock %}
