{% extends 'base.html.twig' %}

{% block title %}Haloo - Créateur de site web{% endblock %}

{% block body %}

<h2>Test</h2>
    <p>Nam architecto soluta et ex. Culpa dolor nulla fuga natus beatae vitae culpa. Deleniti nulla sint sapiente officia non. Aliquam excepturi et harum nihil quibusdam. Architecto magni non ducimus.

        Sit officiis deleniti totam vitae minus. Vitae at commodi et ipsa qui ipsam velit facilis. Dolore modi quam et velit. Incidunt repellat doloremque excepturi dicta eius.</p>
{% endblock %}
