<div class="pt-4 pb-1">
    <hr class="mx-auto my-4" id="hr">
    <hr class="mx-auto my-4" id="hr">
    <hr class="mx-auto my-4" id="hr">
    <hr class="mx-auto my-4" id="hr">
    <hr class="mx-auto my-4" id="hr">
    <hr class="mx-auto my-4" id="hr">
</div>