* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin : 0;
    padding: 0;
    background: #3A3A42;
    box-sizing: content-box;
}
h1, h2, h3, h4, h5, h6, a{
    font-family: 'Literata', cursive;
}
p{
    text-align: justify;
}
h1{
    writing-mode: vertical-lr;
    font-size: 12rem!important;
    margin-left: -10px;
    padding-top: 3.3rem!important;
}
/* NAV */

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}
.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
.navbar .menu-items {
    display: flex;
}
.navbar .nav-container li {
    list-style: none;
}
.navbar .nav-container a {
    text-decoration: none;
    color: #afc0bc;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.7rem;
}
.navbar .nav-container a::after{
    content: "";
    display: block;
    width: 20%;
    height: 3px;
    background: #ffffff;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
    margin: 0 auto;
}
.navbar .nav-container a:hover::after{
    transform: scale(1);
}
.navbar .nav-container a:hover{
    font-style: italic;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: heart 0.9s linear infinite;
}
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #90cbaa;
}
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.navbar .menu-items {
    margin-top: -10px;
    padding-top: 120px;
    box-shadow: inset 0 0 20px rgb(65, 79, 67);
    background-color: rgb(255, 255, 255);
    height: 110vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 1s ease-in-out;
    text-align: center;
}
.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}
/* END NAV */

/* MAIN */

/* CAROUSEL */
.defile-title {
    margin: 0;
    font-size: calc(2vw + 20px);
    position: absolute;
    left: 10%;
    transform: translateZ(0.1px) scale(1.2);
    color: #b5ae84;
    opacity: 0.5;
}
.defile-title.clone {
    left: 60%;
}

.defilee__main {
    position: relative;
    margin: 0 auto;
}
.defilee__outer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    perspective: 0.5px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: hidden;
}
.defilee__main,
.defilee__main *,
.defilee__outer,
.defilee__outer * {
    box-sizing: border-box;
}
.defilee__ctnr {
    transform-style: preserve-3d;
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
}

.defilee__div {
    position: relative;
    transform: translate3d(0, -16vh, 0);
    width: 25vw;
    margin: 0 -2vw;
}
.defilee__div--special {
    transform: translateZ(-0.2px) scale(1.4) translateX(30px) translateY(20vh);
}
.defilee__div--special1 {
    transform: translateZ(-0.25px) scale(1.4) translateX(-0.3vw) translateY(0);
}
.defilee__div--special2 {
    transform: translateZ(0.2px) scale(1) translateX(0.5vw) translateY(-25vh);
}
.defilee__div--special3 {
    transform: translateZ(-0.5px) scale(1.5) translateX(-30px) translateY(-30vh);
}
.defilee__div--special4 {
    transform: translateZ(-0.65px) scale(3) translateX(30px) translateY(-10vh);
}
.defilee__ctnr {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
}
.defilee__ctnr {
    animation: slide 30s linear infinite;
}
@keyframes slide {
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

* {
    transform-origin: 50% 50%;
}
.defilee-visually-hidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

/* END MAIN */

/* CONTACT */


/* END CONTACT */

/* KEYFRAMES */
@keyframes heart {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* END KEYFRAMES */

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    h1{
        font-size: 10rem!important;
        margin-left: -10px;
        padding-top: 3.8rem!important;
        margin-bottom: 3rem!important;
    }
    .navbar .nav-container a {
        font-size: 1.5rem;
    }
    .navbar .menu-items {
        padding-left: 20px;
    }
    .navbar .menu-items li {
        font-size: 1.2rem;
    }
    .logo {
        font-size: 1rem;
    }
    .navbar .nav-container a::after{
        width: 50%;
    }
    .float-img{
        visibility: hidden;
    }
}


