* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin : 0;
    padding: 0;
    background: #3A3A42;
    box-sizing: content-box;
}
h1, h2, h3, h4, h5, h6, a{
    font-family: 'Roboto Mono', monospace;
}
p{
    text-align: justify;
}
.gloria{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: left!important;
}
h1{
    writing-mode: vertical-lr;
    font-size: 12rem!important;
    margin-left: -10px;
    padding-top: 3.3rem!important;
}
.title-info{
    color: #00b894;
}
#hr {
    color: #000000!important;
    margin: 0 auto;
    -webkit-transform:rotate(90deg);
    width:20px;
    height:4px;
    border:1px;
}

::-webkit-scrollbar
{
    width: 0;
}

/* NAV */

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}
.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
.navbar .menu-items {
    display: flex;
}
.navbar .nav-container li {
    list-style: none;
}
.navbar .nav-container a {
    text-decoration: none;
    color: #afc0bc;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.7rem;
}
.navbar .nav-container a::after{
    content: "";
    display: block;
    width: 20%;
    height: 3px;
    background: #ffffff;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
    margin: 0 auto;
}
.navbar .nav-container a:hover::after{
    transform: scale(1);
}
.navbar .nav-container a:hover{
    font-style: italic;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: heart 0.9s linear infinite;
}
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #90cbaa;
}
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.navbar .menu-items {
    margin-top: -10px;
    padding-top: 120px;
    box-shadow: inset 0 0 20px rgb(65, 79, 67);
    background-color: rgb(255, 255, 255);
    height: 110vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 1s ease-in-out;
    text-align: center;
}
.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}
/* END NAV */

/* MAIN */
main{
    padding-top: 2rem;
}
/*SERVICES*/

/*END SERVICES*/

/* FLOAT BANNER */
.defile-title {
    margin: 0;
    font-size: calc(2vw + 20px);
    position: absolute;
    left: 10%;
    transform: translateZ(0.1px) scale(1.2);
    color: #00b894;
    opacity: 0.5;
}
.defile-title.clone {
    left: 60%;
}

.defilee__main {
    position: relative;
    margin: 0 auto;
}
.defilee__outer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    perspective: 0.5px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: hidden;
}
.defilee__main,
.defilee__main *,
.defilee__outer,
.defilee__outer * {
    box-sizing: border-box;
}
.defilee__ctnr {
    transform-style: preserve-3d;
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
}

.defilee__div {
    position: relative;
    transform: translate3d(0, -16vh, 0);
    width: 25vw;
    margin: 0 -2vw;
}
.defilee__div--special {
    transform: translateZ(-0.2px) scale(1.4) translateX(30px) translateY(20vh);
}
.defilee__div--special1 {
    transform: translateZ(-0.25px) scale(1.4) translateX(-0.3vw) translateY(0);
}
.defilee__div--special2 {
    transform: translateZ(0.2px) scale(1) translateX(0.5vw) translateY(-25vh);
}
.defilee__div--special3 {
    transform: translateZ(-0.5px) scale(1.5) translateX(-30px) translateY(-30vh);
}
.defilee__div--special4 {
    transform: translateZ(-0.65px) scale(3) translateX(30px) translateY(-10vh);
}
.defilee__ctnr {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
}
.defilee__ctnr {
    animation: slide 30s linear infinite;
}
@keyframes slide {
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

* {
    transform-origin: 50% 50%;
}
.defilee-visually-hidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}


/* CAROUSEL */

.d-block, h2{
    color: #33475c;
    font-weight: 700;
    font-size: 2.5rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

/* ============= Begin Testimonial Flexbox ============ */
#flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-height: 800px;
    height: 110vh;
    max-width: 90%;
    margin: auto;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    border-radius: 0.5rem;
}

#left-zone {
    height: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

#left-zone .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.item input {
    display: none;
}

label {
    display: block;
    opacity: 0.5;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
}

label:hover {
    opacity: 0.75;
    cursor: pointer;
}

.content-test {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    height: 50%;
    width: 100%;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: none;
}

.content-test p {
    max-width: 50%;
    text-align: center;
}

#right-zone {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 50%;
}

input:checked ~ .content-test {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    opacity: 1;
}

@media (min-width: 480px) {
    #flex-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        min-height: auto;
        height: 800px;
        /* position: absolute; */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #left-zone .list {
        border-right: 2px solid #cccccc;
    }

    .content-test {
        width: 75%;
        height: 100%;
        pointer-events: auto;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    #left-zone {
        width: 25%;
    }

    #right-zone {
        height: 100%;
        width: 65%;
    }
}
/* If the screen size is 480px or less */
@media (max-width: 480px) {
    .content_testimonial-1 .picto {
        padding-top: 100px;
    }
    .content_testimonial-2 .picto {
        padding-top: 100px;
    }
    .content_testimonial-3 .picto {
        padding-top: 100px;
    }
    .content_testimonial-4 .picto {
        padding-top: 100px;
    }
    .item > label {
        font-size: 1.3rem;
    }
}

input:checked ~ label {
    opacity: 1;
    -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input:checked ~ label.label_testimonial-1 {
    color: #000000;
    padding-right: 1rem;
    border-right: solid 4px #00b894;
}

input:checked ~ label.label_testimonial-2 {
    color: #000000;
    padding-right: 1rem;
    border-right: solid 4px #00b894;
}

input:checked ~ label.label_testimonial-3 {
    color: #000000;
    padding-right: 1rem;
    border-right: solid 4px #00b894;
}

input:checked ~ label.label_testimonial-4 {
    color: #000000;
    padding-right: 1rem;
    border-right: solid 4px #00b894;
}
input:checked ~ label.label_testimonial-5 {
    color: #000000;
    padding-right: 1rem;
    border-right: solid 4px #00b894;
}
label.label_testimonial-5 a{
    color: #000000;

}

label:first-letter {
    text-transform: uppercase;
}
.label-test{
 margin-left: 1rem;
}
.label-test:hover{
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#ffffff),
            to(rgba(231, 184, 8, 0.35))
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #00b894);
    background-image: -o-linear-gradient(left, #ffffff, #00b894);
    background-image: linear-gradient(to right, #ffffff, #00b894);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

p.testimonialState {
    margin-top: -5px;
    font-size: 0.8rem;
    font-style: italic;
    color: #808080d4;
}

p.testimonialFrom a{
    margin-top: 5px;
    padding-bottom: 2rem;
    font-weight: bold;
    color: #00b894;
}
/* ============== End Testimonial Flexbox ============= */


/* END CAROUSEL */


/* END MAIN */

/* CONTACT */
button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, input, select, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

#container-contact {
    border: solid 3px #474544;
    max-width: 60%;
    margin: 60px auto;
    position: relative;
    background-color: #edf3e6;
}

form {
    padding: 38px;
    margin: 50px 0;
}


.underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
}

.icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
}

.icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

.email {
    float: right;
    width: 45%;
}
.lastname {
    float: right;
    width: 45%;
}
input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

.subject {
    width: 100%;
}

.telephone {
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #474544;
}

:-moz-placeholder {
    color: #474544;
    opacity: 1;
}

::-moz-placeholder {
    color: #474544;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #474544;
}

#form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: #474544;
    color: #F2F3EB;
}

@media screen and (max-width: 768px) {
    #container {
        margin: 20px auto;
        width: 95%;
    }
    #container-contact {
        max-width: 95%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    .underline {
        width: 68px;
    }

    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 18px;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .underline {
        width: 53px;
    }

    input[type='text'], [type='email'], select, textarea {
        font-size: 0.875em;
    }
}

/* END CONTACT */

/* FOOTER */
.footer-div{
    height: 18rem;
    width: 100%;
    padding-top: 3rem;
}

.footer-basic ul {
    color: white;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    line-height:40px;
    display:inline-block;
    text-align:center;
    padding: 0 1rem;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}
.list-inline-item-terms{
    font-size: 0.7rem;
}
/* END FOOTER */

/* KEYFRAMES */
@keyframes heart {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* END KEYFRAMES */

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    h1{
        font-size: 10rem!important;
        margin-left: -10px;
        padding-top: 3.8rem!important;
        margin-bottom: 3rem!important;
    }
    .navbar .nav-container a {
        font-size: 1.5rem;
    }
    .navbar .menu-items {
        padding-left: 20px;
    }
    .navbar .menu-items li {
        font-size: 1.2rem;
    }
    .logo {
        font-size: 1rem;
    }
    .navbar .nav-container a::after{
        width: 50%;
    }
    .float-img{
        visibility: hidden;
    }
}


