{% extends 'base.html.twig' %}

{% block title %}Contact - Looha{% endblock %}

{% block body %}
<div class="container my-5">
    {{ form(form) }}
</div>

{% endblock %}

{% block javascripts %}

{% endblock %}
